body {
    background-color:darkseagreen;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
    
    
}
header {
    display: grid;
    justify-content: center;
    font-size: 8vh;
    padding: 2rem;
    animation: 1s ease-out 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(+100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* #Rock {
    background-image: url(images/rock.png);
    background-size: contain;
    background-repeat: no-repeat;

} */

/* #Scissors {
    background-image: url(images/scissors.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Paper {
    background-image: url(images/paper.png);
    background-size: contain;
    background-repeat: no-repeat;
    
} */

#reset {
    width: 30vw;
    height: 30vh;
}

img, #reset {
    width: 20vw;
    height: 20vw;
    font-size: 3px;
    border-radius: 20px;
    transition: width 1s, height 1s, borderRadius 1s, transform 1s;
}    
img:hover {
    cursor: pointer;
    width: 25vw;
    height: 25vw;   
    /* transform: rotate(30deg); */
    animation: rocker 1.5s infinite;
    animation-timing-function: linear;
}

@keyframes rocker {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(30deg);
    }
    66% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}
p  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-left: 10%;
    padding-right: 10%;
}

